/* CSS reset */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 100%;
}
/* Pozicionálás */

.profile-card {
  width: 550px;
  max-width: calc(100vw - 10px);
}
body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-family: Helvetica;
}
.head, .links {
  text-align: center;
}
.head, .content {
  width: 90%;
  margin: 0 auto;
}
#round-image {
  width: 120px;
  height: 120px;
  border-radius: 50%;
}
#qr {
  width: 120px;
  height: 180px;
}
.head {
  margin-top: -60px;
}
/* Contact links */

ul {
  list-style-type: none;
}

li {
  display: inline;
}
.head, .about {
  margin-bottom: 10%;
}

.content {
  padding: 5% 10%;
}
body {
  background: url("assets//hatter.jpg") no-repeat center center fixed;
  background-size: cover;
}
.profile-card {
  border-style: solid;
  border-width: 4px;
  border-color: rgba(170, 0, 26, 1);
  background-color: rgba(255, 255, 255, 0.9);
  border-radius: 15px;
  box-shadow: hsla(0, 0%, 0%, .8) 15px 15px 80px;
}
#round-image {
  border-style: solid;
  border-width: 4px;
  border-color: rgba(170, 0, 26, 1);
  transition: all 0.5s ease-in-out;
}
.content {
  border-top: 1px solid rgba(170, 0, 26, 1);
}
#round-image:hover {
  transform: rotate(180deg);

  filter: grayscale(20%);
}
i {
  color: rgba(170, 0, 26, 1);
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 20px;
}
.about {
  text-align: justify;
  font-size: 20px;
}
.name-headline {
  padding-top: 20px;
}